#login-container {
}

.auth0-lock.auth0-lock .auth0-lock-widget {
  height: auto;
  width: auto;
}

.auth0-lock.auth0-lock .auth0-lock-widget-container .auth0-lock-cred-pane {
  background: inherit;
}

.auth0-lock.auth0-lock .auth0-lock-widget-container .auth0-lock-header {
  height: auto;
  padding: 0;
}

.auth0-lock .auth0-lock-widget .auth0-lock-header-bg {
  display: none;
}

.auth0-lock.auth0-lock .auth0-lock-widget .auth0-lock-header-logo {
  display: none;
}

.auth0-lock.auth0-lock .auth0-lock-widget .auth0-lock-content {
  padding: 0;
}
