rdm.academy {
  gzip
  log stdout
  errors stderr
  templates /
  root /www

  # Always fallback to index.html if a path does not
  # match. Static assets will match, but nothing else.
  rewrite {
    to {path} {path}/ /index.html
  }
}
