.ProjectPage-Header {
  margin: 0 15px;
  padding: 15px;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 1px 1px 2px rgba(200, 200, 200, .25)
}

.ProjectPage-Header h5 {
  margin-bottom: 10px;
}

.ProjectPage-Header .nav-pills {
  font-size: 0.8em;
  color: #333;
}

.ProjectPage-Body {
  position: absolute;
  top: 180px;
  left: 15px;
  right: 15px;
  bottom: 15px;

}

.ProjectPage .EditButton {
  position: relative;
  z-index: 5;
}

.ProjectPage-Main {
  position: absolute;
  top: 0;
  left: 215px;
  right: 0;
  bottom: 0;

  overflow: auto;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 1px 1px 2px rgba(200, 200, 200, .25);
}

.ProjectPage-Details {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background-color: #fff;
  border-left: 1px solid #e5e5e5;
  z-index: 3;
  box-shadow: -2px 0 10px #ddd;
}

.ProjectPage-Sidebar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;

  width: 200px;
  overflow: auto;

  font-weight: 400;
  font-size: 12px;

  padding: 15px;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 1px 1px 2px rgba(200, 200, 200, .25)
}

.ProjectPage-Sidebar a {
  color: #333;
  border-bottom: 1px solid #ccc;
  text-decoration: none;
}

.ProjectPage-Sidebar a:hover, .ProjectPage-Sidebar a:active {
  border-bottom-color: #333;
}

.ProjectPage-Sidebar a.active {
  color: #0275d8;
  border-bottom: 0;
  cursor: default;
}

.ProjectPage-Sidebar ul {
  margin: 0 0 20px 0;
  padding: 0;
}

.ProjectPage-Sidebar ul li {
  margin-bottom: 7px;
}

.ProjectPage-Sidebar hr {
  border-top-color: #eee;
}

.ProjectPage-Details .nav-tabs {
  font-size: 0.8em;
  margin: 20px 0;
}

.ProjectPage .WorkflowEditor-actions {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40%;
  padding: 10px 15px;
  z-index: 4;
  text-align: right;
}

.ProjectPage .WorkflowEditor-actions button {
  margin-left: 10px;
}
