body {
  font-weight: 400;
  padding-top: 70px;
  background-color: #fafafa;
}

b, strong {
  font-weight: 500;
}

label {
  font-weight: 500;
}

code {
  background: none;
  padding: 0;
  color: #555;
  border-radius: 0;
  font-family: Hack, Menlo, Consolas, monospace;
}

.markdown :last-child {
  margin-bottom: 0;
}

.btn {
  color: #333;
  border-radius: 3px;
  background: none;
  border-width: 2px;
}

.btn.btn-link {
  cursor: pointer;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.btn.btn-primary {
  color: #0275d8;
}

.btn.btn-primary:hover, .btn.btn-primary:active {
  color: #fff;
  background-color: #0275d8;
}

.btn[disabled] {
  color: #999;
  background-color: inherit;
}

.form-control {
  border-radius: 0;
}

.dropdown-menu {
  border-radius: 0px;
  box-shadow: 1px 1px 2px rgba(200, 200, 200, .25)
}
